html,body {
	height: 100%;
}

* {
	font-family: Graphik Regular;
}

body {
	margin: 0;
}

.container {
	height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.rows {
	display:flex;
	width:248px;
	height:auto;
	flex-wrap: wrap;

  	align-items: center;
  	justify-content: center;

  	position:absolute;
  	margin: 0 auto;

}

.numbutton, .display {
	display: flex;
	height: 60px;
	width: 60px;
	border: 1px solid black;
	align-items:center;
	justify-content:center;

}

.numbutton:hover {
	display: flex;
	height: 60px;
	width: 60px;
	border: 1px solid black;
	align-items:center;
	justify-content:center;
	background-color: blue;
	transition: all .7s ease;

}

.opbutton {
	display: flex;
	height: 60px;
	width: 60px;
	border: 1px solid black;
	align-items:center;
	justify-content:center;
	background-color: red;

}

.equals {
	display: flex;
	height: 60px;
	width: 60px;
	border: 1px solid black;
	align-items:center;
	justify-content:center;
	background-color: green;

}

.clear {
	display: flex;
	height: 60px;
	width: 60px;
	border: 1px solid black;
	align-items:center;
	justify-content:center;
	background-color: yellow;

}

.grow {
	flex-basis: 100%;
}